Repository COS301-SE-2022/Carpool, pull requests merged in 2022-05, with the labels that each got.

#5 🚀 (Trips): Updated DB schema, started trips repo
  libs/api/authentication/api/shared/entities/data-access/src/lib/auth-entity.entity.ts
  libs/api/trips/api/shared/src/index.ts
  libs/api/trips/api/shared/src/lib/booking-entity.entity.ts
  libs/api/trips/api/shared/src/lib/trip-entity.entity.ts
  libs/api/trips/repository/data-access/src/lib/trips-repository.repository.ts
  prisma/migrations/20220511072645_/migration.sql
  prisma/schema.prisma
Labels: Feature, Status: ready, Trips

#6 🚀 (Auth): Added confirm email with code
  apps/client/package.json
  apps/client/src/app/App.tsx
  libs/api/authentication/api/feature/src/lib/api-authentication-api-feature.module.ts
  libs/api/authentication/api/feature/src/lib/auth-resolver.resolver.ts
  libs/api/authentication/repository/data-access/src/lib/auth-repository.repository.ts
  libs/api/authentication/service/feature/src/lib/auth-service.service.ts
  libs/api/authentication/service/feature/src/lib/commands/auth-command-handler.handler.ts
  libs/api/authentication/service/feature/src/lib/commands/auth-command.command.ts
  libs/client/pages/src/lib/confirm-email-page/confirm-email-page.tsx
  libs/client/pages/src/lib/login-page/login-page.tsx
  libs/client/pages/src/lib/sign-up-page/sign-up-page.tsx
  libs/client/store/src/lib/actions/auth-actions.ts
  libs/client/store/src/lib/queries/auth-queries.ts
  libs/client/store/src/lib/slices/auth-slice.ts
Labels: Feature, Authentication, Ben, Status: ready

#7 🚀 (Auth): Implemented send email functionality
  .env
  apps/api/src/app/app.module.ts
  apps/client/package.json
  libs/api/authentication/api/feature/src/lib/auth-resolver.resolver.ts
  libs/api/authentication/repository/data-access/src/lib/auth-repository.repository.ts
  libs/api/authentication/service/feature/src/lib/auth-service.service.ts
  libs/client/pages/src/lib/home-page/home-page.tsx
  libs/client/pages/src/lib/login-page/login-page.tsx
  libs/client/pages/src/lib/sign-up-page/sign-up-page.tsx
  libs/client/store/src/lib/actions/auth-actions.ts
  libs/client/store/src/lib/queries/auth-queries.ts
  libs/client/store/src/lib/slices/auth-slice.ts
  libs/client/store/src/lib/types/auth-types.ts
  package.json
  yarn.lock
Labels: Feature, Authentication, Ben, Status: ready

#9 🔥 (Trips): Homescreen, Redux & Trip Details View
  apps/client/src/app/App.tsx
  libs/client/components/src/index.ts
  libs/client/components/src/lib/trip-card/lighter_grey.png
  libs/client/components/src/lib/trip-card/trip-card.spec.tsx
  libs/client/components/src/lib/trip-card/trip-card.tsx
  libs/client/pages/src/index.ts
  libs/client/pages/src/lib/NavigationTypes/navigation-types.ts
  libs/client/pages/src/lib/home-page/home-page.tsx
  libs/client/pages/src/lib/home-page/lighter_grey.png
  libs/client/pages/src/lib/home-page/no_trips.png
  libs/client/pages/src/lib/trip-details/trip-details.spec.tsx
  libs/client/pages/src/lib/trip-details/trip-details.tsx
  libs/client/store/src/index.ts
  libs/client/store/src/lib/actions/auth-actions.ts
  libs/client/store/src/lib/actions/trip-actions.ts
  libs/client/store/src/lib/queries/trip-queries.ts
  libs/client/store/src/lib/root-reducer.ts
  libs/client/store/src/lib/slices/trip-slice.ts
  libs/client/store/src/lib/types/trip-types.ts
Labels: Feature, Ben, Status: ready, Trips

#11 :rocket: (Trips): Added Trip Backend
  libs/api/trips/api/feature/src/lib/api-trips-api-feature.module.ts
  libs/api/trips/api/feature/src/lib/trips-resolver.resolver.spec.ts
  libs/api/trips/api/feature/src/lib/trips-resolver.resolver.ts
  libs/api/trips/api/shared/src/lib/booking-entity.entity.ts
  libs/api/trips/api/shared/src/lib/trip-entity.entity.ts
  libs/api/trips/repository/data-access/src/index.ts
  libs/api/trips/repository/data-access/src/lib/trips-repository.repository.spec.ts
  libs/api/trips/repository/data-access/src/lib/trips-repository.repository.ts
  libs/api/trips/service/feature/src/index.ts
  libs/api/trips/service/feature/src/lib/commands/trips-command-handler.handler.ts
  libs/api/trips/service/feature/src/lib/commands/trips-command.command.ts
  libs/api/trips/service/feature/src/lib/queries/trips-query-handler.handler.ts
  libs/api/trips/service/feature/src/lib/queries/trips-query.query.ts
  libs/api/trips/service/feature/src/lib/trip-service.service.spec.ts
  libs/api/trips/service/feature/src/lib/trip-service.service.ts
  prisma/migrations/20220512072233_/migration.sql
  prisma/schema.prisma
Labels: Feature, Trips
